.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

out/
/classes/
.classpath
.project
test/data
*.iws
.settings
stacktrace.log
/*.zip
/plugin.xml
/*.log
/target/
/out/
/target-eclipse/
c.tld
fmt.tld

# IntelliJ IDEA files below
*.iml
*.ipr
.idea/
.sass-cache/
/bin/
.asscache
bower_components
node_modules
src/assets/stylesheets/vendors
/src/assets/javascripts/vendors
